@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

.toctreenav i.collapsed ~ ul {
 display:none;
}
.toctreenav i:before {
 display: inline-block;
 font-family: fontawesome;
 content: "\f107";
 /*down f107 f078*/
}
.toctreenav i.collapsed:before {
 content: "\f105";/*> f105 f054*/
}
.toctreenav i.none:before {
 content: "";
}
.toctreenav i {
 width: 1em;
 margin-right: 0.5em;
}
.toctreenav li {
 cursor:pointer;
 text-indent: -0.75em;
 list-style: none;
}
.toctreenav li ul {
 margin-left:-1em;
}

#showleft, #hideleft {
 cursor: pointer;
}